.head-text {
    font-family: 'Astronout';
    font-size: 7em;
}

blockquote {
    /* border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-width: 4px; */
    padding: 6px 32px;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
}

blockquote > p {
    margin: 0px;
}

blockquote > p > cite {
    opacity: 0.4;
    font-size: 0.8em;
}

.avatar {
    width: 100%;
    height: auto;
}

.site-myname-text {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: #007bff;
}

.article-thumb {
    width: 100%;
    height: auto;
    background-size: cover;
}

.media-thumb {
    flex-direction: column;
    width: 100%;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.0rem;
}

.article-container > div {
    margin: 0px 0px;;
}

.article-wrapper {
    margin: 20px 0px 40px 0px;
}

.body-thumb {
    margin: 0px 0px;
}

.body-property {
    /* background-image: url("back.jpg"); */
    /* background-repeat: repeat-y; */
}

.post-large-thumbnail {
    position: relative;
    height: 60vh;
    width: 100%;
    background-size: cover;
}

.main-back-home-button {
    position: absolute;
    height: 40px;
    height: 40px;
    z-index: 10;
    background-color: #007bff;
    color: white;
    top: 0;
    left: 0px;
}

.post-time {
    font-size: 0.75em;
    text-transform: uppercase;
    color: rgb(172, 172, 172);
    /* font-weight: 700; */
    margin: 0px 16px 8px 16px;
}

.post-cate {
    color: coral;
}

.post-title {
    color: rgb(37, 41, 58);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6em;
    /* font-weight: 600; */
    margin: 8px 0px;
    text-transform: uppercase;
}

.post-title-sm {
    color: rgb(37, 41, 58);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.0em;
    /* font-weight: 600; */
    margin: 8px 0px;
}

.post-title-xs {
    color: rgb(37, 41, 58);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.4em;
    /* font-weight: 600; */
    margin: 8px 0px;
}

.post-content {
    color: rgb(107, 107, 107);
    /* font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif; */
    font-size: 1em;
    margin: 8px 16px;
}

.post-content-xs {
    color: rgb(107, 107, 107);
    /* font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif; */
    font-size: 0.75em;
    margin: 8px 16px;
}

.post-readmore {
    color: dodgerblue;
    margin: 26px 0px;
    font-size: 0.75em;
    margin: 8px 16px;
}

.page-number {
    /*  */
}

.page-whatnext-text {
    font-size: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
    color:lightgray;
    margin: 12px 16px;
}

.page-whatnext-box {
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(243, 243, 243);
    border-radius: 8px;
    margin: 8px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.page-whatnext-thumbnail {
    width: 100%;
    height: 128px;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

.page-tag-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 32px 12px;
}

.page-tag-container > a {
    padding: 2px 8px;
    background-color: lightgray;
    font-weight: 700;
    font-size: 0.5em;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    margin: 2px 4px;
}